train_config {
  sparse_optimizer {
    adam_optimizer {
      lr: 0.001
    }
    constant_learning_rate {
    }
  }
  dense_optimizer {
    adam_optimizer {
      lr: 0.001
    }
    constant_learning_rate {
    }
  }
  num_epochs: 1
  use_tensorboard: false
  save_checkpoints_steps: 0
}
eval_config {
}
export_config {
}
data_config {
  batch_size: 1024
  dataset_type: OdpsDataset
  label_fields: "is_valid"
  num_workers: 8
  fg_mode: FG_BUCKETIZE
}
feature_configs {
  id_feature {
    feature_name: "identity_id"
    expression: "user:identity_id"
    embedding_dim: 8
    hash_bucket_size: 1832583
  }
}
feature_configs {
  id_feature {
    feature_name: "item_id"
    expression: "item:item_id"
    embedding_dim: 8
    hash_bucket_size: 1149747
  }
}
feature_configs {
  id_feature {
    feature_name: "day_h"
    expression: "user:day_h"
    embedding_dim: 8
    hash_bucket_size: 240
  }
}
feature_configs {
  id_feature {
    feature_name: "week_day"
    expression: "user:week_day"
    embedding_dim: 8
    hash_bucket_size: 70
  }
}
feature_configs {
  id_feature {
    feature_name: "user_type"
    expression: "user:user_type"
    embedding_dim: 8
    hash_bucket_size: 20
  }
}
feature_configs {
  id_feature {
    feature_name: "terminal_model"
    expression: "user:terminal_model"
    embedding_dim: 8
    hash_bucket_size: 3660
  }
}
feature_configs {
  id_feature {
    feature_name: "age_group"
    expression: "user:age_group"
    embedding_dim: 8
    hash_bucket_size: 80
  }
}
feature_configs {
  id_feature {
    feature_name: "gender"
    expression: "user:gender"
    embedding_dim: 8
    hash_bucket_size: 40
  }
}
feature_configs {
  id_feature {
    feature_name: "music_vip_type"
    expression: "user:music_vip_type"
    embedding_dim: 8
    hash_bucket_size: 20
  }
}
feature_configs {
  id_feature {
    feature_name: "used_competitors_last_7d"
    expression: "user:used_competitors_last_7d"
    embedding_dim: 8
    hash_bucket_size: 100
    separator: ""
  }
}
feature_configs {
  id_feature {
    feature_name: "singer_id"
    expression: "item:singer_id"
    embedding_dim: 8
    hash_bucket_size: 530680
    separator: ""
  }
}
feature_configs {
  id_feature {
    feature_name: "composer"
    expression: "item:composer"
    embedding_dim: 8
    hash_bucket_size: 448330
    separator: ""
  }
}
feature_configs {
  id_feature {
    feature_name: "lyric_writer"
    expression: "item:lyric_writer"
    embedding_dim: 8
    hash_bucket_size: 362760
    separator: ""
  }
}
feature_configs {
  id_feature {
    feature_name: "language_tag_id_lv2"
    expression: "item:language_tag_id_lv2"
    embedding_dim: 8
    hash_bucket_size: 140
    separator: ""
  }
}
feature_configs {
  id_feature {
    feature_name: "style_tag_id_lv2"
    expression: "item:style_tag_id_lv2"
    embedding_dim: 8
    hash_bucket_size: 260
    separator: ""
  }
}
feature_configs {
  id_feature {
    feature_name: "song_business_model"
    expression: "item:song_business_model"
    embedding_dim: 8
    hash_bucket_size: 210
  }
}
feature_configs {
  id_feature {
    feature_name: "song_name_purified"
    expression: "item:song_name_purified"
    embedding_dim: 8
    hash_bucket_size: 826710
  }
}
feature_configs {
  sequence_feature {
    sequence_name: "valid_play_100_seq"
    sequence_length: 100
    sequence_delim: ";"
    features {
      id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        embedding_dim: 8
        hash_bucket_size: 1149747
      }
    }
    features {
      raw_feature {
        feature_name: "ts"
        expression: "user:ts"
        embedding_dim: 8
        boundaries: 171.0
        boundaries: 329.0
        boundaries: 553.0
        boundaries: 783.0
        boundaries: 1023.0
        boundaries: 1274.0
        boundaries: 1527.0
        boundaries: 1788.0
        boundaries: 2054.0
        boundaries: 2323.0
        boundaries: 2597.0
        boundaries: 2878.0
        boundaries: 3163.0
        boundaries: 3452.0
        boundaries: 3749.0
        boundaries: 4051.0
        boundaries: 4361.0
        boundaries: 4688.0
        boundaries: 5051.0
        boundaries: 5432.0
        boundaries: 5822.0
        boundaries: 6216.0
        boundaries: 6616.0
        boundaries: 7023.0
        boundaries: 7430.0
        boundaries: 7850.0
        boundaries: 8276.0
        boundaries: 8729.0
        boundaries: 9208.0
        boundaries: 9711.0
        boundaries: 10224.0
        boundaries: 10744.0
        boundaries: 11265.0
        boundaries: 11797.0
        boundaries: 12360.0
        boundaries: 12955.0
        boundaries: 13583.0
        boundaries: 14219.0
        boundaries: 14866.0
        boundaries: 15538.0
        boundaries: 16241.0
        boundaries: 16994.0
        boundaries: 17790.0
        boundaries: 18657.0
        boundaries: 19617.0
        boundaries: 20784.0
        boundaries: 22484.0
        boundaries: 26793.0
        boundaries: 35282.0
        boundaries: 46669.0
        boundaries: 55469.0
        boundaries: 62290.0
        boundaries: 69024.0
        boundaries: 75568.0
        boundaries: 81190.0
        boundaries: 85345.0
        boundaries: 90125.0
        boundaries: 99056.0
        boundaries: 112052.0
        boundaries: 129891.0
        boundaries: 146966.0
        boundaries: 158151.0
        boundaries: 167272.0
        boundaries: 173606.0
        boundaries: 188298.0
        boundaries: 213684.0
        boundaries: 237383.0
        boundaries: 253520.0
        boundaries: 261162.0
        boundaries: 279561.0
        boundaries: 317322.0
        boundaries: 338381.0
        boundaries: 346764.0
        boundaries: 376717.0
        boundaries: 417029.0
        boundaries: 432245.0
        boundaries: 470581.0
        boundaries: 512294.0
        boundaries: 540591.0
        boundaries: 596684.0
        boundaries: 620722.0
        boundaries: 688526.0
        boundaries: 741280.0
        boundaries: 799340.0
        boundaries: 863284.0
        boundaries: 942211.0
        boundaries: 1022550.0
        boundaries: 1099050.0
        boundaries: 1189060.0
        boundaries: 1282230.0
        boundaries: 1370280.0
        boundaries: 1466410.0
        boundaries: 1580450.0
        boundaries: 1719570.0
        boundaries: 1851040.0
        boundaries: 1985790.0
        boundaries: 2119570.0
        boundaries: 2298090.0
        boundaries: 2453140.0
      }
    }
  }
}
feature_configs {
  sequence_feature {
    sequence_name: "full_play_100_seq"
    sequence_length: 100
    sequence_delim: ";"
    features {
      id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        embedding_dim: 8
        hash_bucket_size: 1149747
      }
    }
    features {
      raw_feature {
        feature_name: "ts"
        expression: "user:ts"
        embedding_dim: 8
        boundaries: 103.0
        boundaries: 337.0
        boundaries: 583.0
        boundaries: 834.0
        boundaries: 1096.0
        boundaries: 1363.0
        boundaries: 1631.0
        boundaries: 1909.0
        boundaries: 2188.0
        boundaries: 2472.0
        boundaries: 2759.0
        boundaries: 3048.0
        boundaries: 3343.0
        boundaries: 3644.0
        boundaries: 3951.0
        boundaries: 4260.0
        boundaries: 4591.0
        boundaries: 4950.0
        boundaries: 5335.0
        boundaries: 5733.0
        boundaries: 6134.0
        boundaries: 6545.0
        boundaries: 6953.0
        boundaries: 7368.0
        boundaries: 7796.0
        boundaries: 8238.0
        boundaries: 8697.0
        boundaries: 9185.0
        boundaries: 9700.0
        boundaries: 10221.0
        boundaries: 10758.0
        boundaries: 11297.0
        boundaries: 11852.0
        boundaries: 12435.0
        boundaries: 13052.0
        boundaries: 13694.0
        boundaries: 14350.0
        boundaries: 15017.0
        boundaries: 15706.0
        boundaries: 16427.0
        boundaries: 17200.0
        boundaries: 17985.0
        boundaries: 18798.0
        boundaries: 19646.0
        boundaries: 20545.0
        boundaries: 21503.0
        boundaries: 22560.0
        boundaries: 23946.0
        boundaries: 26744.0
        boundaries: 34839.0
        boundaries: 46450.0
        boundaries: 55938.0
        boundaries: 63094.0
        boundaries: 69978.0
        boundaries: 76518.0
        boundaries: 82074.0
        boundaries: 86363.0
        boundaries: 92888.0
        boundaries: 104596.0
        boundaries: 120416.0
        boundaries: 140617.0
        boundaries: 153783.0
        boundaries: 164104.0
        boundaries: 171027.0
        boundaries: 180169.0
        boundaries: 202315.0
        boundaries: 232242.0
        boundaries: 251963.0
        boundaries: 260699.0
        boundaries: 280240.0
        boundaries: 319447.0
        boundaries: 338549.0
        boundaries: 347280.0
        boundaries: 380495.0
        boundaries: 419060.0
        boundaries: 433645.0
        boundaries: 479341.0
        boundaries: 515329.0
        boundaries: 552318.0
        boundaries: 599858.0
        boundaries: 635533.0
        boundaries: 691825.0
        boundaries: 749038.0
        boundaries: 808141.0
        boundaries: 867229.0
        boundaries: 947103.0
        boundaries: 1032360.0
        boundaries: 1110430.0
        boundaries: 1191510.0
        boundaries: 1280900.0
        boundaries: 1364000.0
        boundaries: 1461470.0
        boundaries: 1573240.0
        boundaries: 1712380.0
        boundaries: 1832460.0
        boundaries: 1983550.0
        boundaries: 2120850.0
        boundaries: 2298840.0
        boundaries: 2456050.0
      }
    }
  }
}
model_config {
  feature_groups {
    group_name: "wide"
    feature_names: "identity_id"
    feature_names: "item_id"
    feature_names: "day_h"
    feature_names: "week_day"
    feature_names: "user_type"
    feature_names: "terminal_model"
    feature_names: "age_group"
    feature_names: "gender"
    feature_names: "music_vip_type"
    feature_names: "used_competitors_last_7d"
    feature_names: "singer_id"
    feature_names: "composer"
    feature_names: "lyric_writer"
    feature_names: "language_tag_id_lv2"
    feature_names: "style_tag_id_lv2"
    feature_names: "song_business_model"
    feature_names: "song_name_purified"
    group_type: WIDE
  }
  feature_groups {
    group_name: "deep"
    feature_names: "identity_id"
    feature_names: "item_id"
    feature_names: "day_h"
    feature_names: "week_day"
    feature_names: "user_type"
    feature_names: "terminal_model"
    feature_names: "age_group"
    feature_names: "gender"
    feature_names: "music_vip_type"
    feature_names: "used_competitors_last_7d"
    feature_names: "singer_id"
    feature_names: "composer"
    feature_names: "lyric_writer"
    feature_names: "language_tag_id_lv2"
    feature_names: "style_tag_id_lv2"
    feature_names: "song_business_model"
    feature_names: "song_name_purified"
    group_type: DEEP
    sequence_groups {
      group_name: "valid_play_100_seq"
      feature_names: "item_id"
      feature_names: "valid_play_100_seq__item_id"
      feature_names: "valid_play_100_seq__ts"
    }
    sequence_groups {
      group_name: "full_play_100_seq"
      feature_names: "item_id"
      feature_names: "full_play_100_seq__item_id"
      feature_names: "full_play_100_seq__ts"
    }
    sequence_encoders {
      din_encoder {
        input: "valid_play_100_seq"
        attn_mlp {
          hidden_units: 1024
          hidden_units: 512
        }
      }
    }
    sequence_encoders {
      din_encoder {
        input: "full_play_100_seq"
        attn_mlp {
          hidden_units: 1024
          hidden_units: 512
        }
      }
    }
  }
  feature_groups {
    group_name: "fm"
    feature_names: "identity_id"
    feature_names: "item_id"
    feature_names: "day_h"
    feature_names: "week_day"
    feature_names: "user_type"
    feature_names: "terminal_model"
    feature_names: "age_group"
    feature_names: "gender"
    feature_names: "music_vip_type"
    feature_names: "used_competitors_last_7d"
    feature_names: "singer_id"
    feature_names: "composer"
    feature_names: "lyric_writer"
    feature_names: "language_tag_id_lv2"
    feature_names: "style_tag_id_lv2"
    feature_names: "song_business_model"
    feature_names: "song_name_purified"
    group_type: DEEP
  }
  losses {
    binary_cross_entropy {
    }
  }
  metrics {
    auc {
    }
  }
  metrics {
    grouped_auc {
      grouping_key:  "identity_id"
    }
  }
  deepfm {
    deep {
      hidden_units: 1024
      hidden_units: 512
      hidden_units: 128
    }
    final {
      hidden_units: 1024
      hidden_units: 512
      hidden_units: 128
    }
    wide_embedding_dim: 128
  }
}
