train_config {
  sparse_optimizer {
    adam_optimizer {
      lr: 0.001
    }
    constant_learning_rate {
    }
  }
  dense_optimizer {
    adam_optimizer {
      lr: 0.001
    }
    constant_learning_rate {
    }
  }
  num_epochs: 1
  use_tensorboard: false
  save_checkpoints_steps: 0
}
eval_config {
}
export_config {
}
data_config {
  batch_size: 1024
  dataset_type: OdpsDataset
  label_fields: "is_click"
  num_workers: 8
  fg_mode: FG_BUCKETIZE
}
feature_configs {
  id_feature {
    feature_name: "identity_id"
    expression: "user:identity_id"
    embedding_dim: 8
    hash_bucket_size: 499812
  }
}
feature_configs {
  id_feature {
    feature_name: "item_id"
    expression: "item:item_id"
    embedding_dim: 8
    hash_bucket_size: 748002
  }
}
feature_configs {
  id_feature {
    feature_name: "day_h"
    expression: "user:day_h"
    embedding_dim: 8
    hash_bucket_size: 240
  }
}
feature_configs {
  sequence_feature {
    sequence_name: "valid_play_100_seq"
    sequence_length: 100
    sequence_delim: ";"
    features {
      id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        embedding_dim: 8
        hash_bucket_size: 748002
      }
    }
    features {
      raw_feature {
        feature_name: "ts"
        expression: "user:ts"
        embedding_dim: 8
        boundaries: 459.0
        boundaries: 2466.0
        boundaries: 5063.0
        boundaries: 9031.0
        boundaries: 14497.0
        boundaries: 21338.0
        boundaries: 29733.0
        boundaries: 38678.0
        boundaries: 46603.0
        boundaries: 53250.0
        boundaries: 59195.0
        boundaries: 64858.0
        boundaries: 70493.0
        boundaries: 75099.0
        boundaries: 78670.0
        boundaries: 81400.0
        boundaries: 83472.0
        boundaries: 85167.0
        boundaries: 87044.0
        boundaries: 91082.0
        boundaries: 99455.0
        boundaries: 112137.0
        boundaries: 126901.0
        boundaries: 139597.0
        boundaries: 149505.0
        boundaries: 158409.0
        boundaries: 164741.0
        boundaries: 168624.0
        boundaries: 171377.0
        boundaries: 174507.0
        boundaries: 183107.0
        boundaries: 199101.0
        boundaries: 218195.0
        boundaries: 233384.0
        boundaries: 245936.0
        boundaries: 253822.0
        boundaries: 258664.0
        boundaries: 266121.0
        boundaries: 278407.0
        boundaries: 293465.0
        boundaries: 311360.0
        boundaries: 327808.0
        boundaries: 338651.0
        boundaries: 344848.0
        boundaries: 355040.0
        boundaries: 371421.0
        boundaries: 391280.0
        boundaries: 410341.0
        boundaries: 423859.0
        boundaries: 430475.0
        boundaries: 440139.0
        boundaries: 468148.0
        boundaries: 495990.0
        boundaries: 511984.0
        boundaries: 517939.0
        boundaries: 533513.0
        boundaries: 569339.0
        boundaries: 594368.0
        boundaries: 603588.0
        boundaries: 618978.0
        boundaries: 660544.0
        boundaries: 685395.0
        boundaries: 693686.0
        boundaries: 733113.0
        boundaries: 767730.0
        boundaries: 778442.0
        boundaries: 817837.0
        boundaries: 857434.0
        boundaries: 874880.0
        boundaries: 910822.0
        boundaries: 946769.0
        boundaries: 972263.0
        boundaries: 1017530.0
        boundaries: 1038340.0
        boundaries: 1091730.0
        boundaries: 1122480.0
        boundaries: 1172230.0
        boundaries: 1208980.0
        boundaries: 1267440.0
        boundaries: 1300620.0
        boundaries: 1373490.0
        boundaries: 1419470.0
        boundaries: 1468970.0
        boundaries: 1513960.0
        boundaries: 1558330.0
        boundaries: 1618590.0
        boundaries: 1660860.0
        boundaries: 1725250.0
        boundaries: 1789020.0
        boundaries: 1839160.0
        boundaries: 1904410.0
        boundaries: 1982620.0
        boundaries: 2058880.0
        boundaries: 2130890.0
        boundaries: 2205080.0
        boundaries: 2279380.0
        boundaries: 2364080.0
        boundaries: 2447390.0
        boundaries: 2538880.0
      }
    }
  }
}
feature_configs {
  sequence_feature {
    sequence_name: "full_play_100_seq"
    sequence_length: 100
    sequence_delim: ";"
    features {
      id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        embedding_dim: 8
        hash_bucket_size: 748002
      }
    }
    features {
      raw_feature {
        feature_name: "ts"
        expression: "user:ts"
        embedding_dim: 8
        boundaries: 1e-08
        boundaries: 1972.0
        boundaries: 4649.0
        boundaries: 8757.0
        boundaries: 14604.0
        boundaries: 21960.0
        boundaries: 31209.0
        boundaries: 40746.0
        boundaries: 48950.0
        boundaries: 55726.0
        boundaries: 61601.0
        boundaries: 67456.0
        boundaries: 72746.0
        boundaries: 76894.0
        boundaries: 80117.0
        boundaries: 82558.0
        boundaries: 84507.0
        boundaries: 86366.0
        boundaries: 90164.0
        boundaries: 98504.0
        boundaries: 111336.0
        boundaries: 126790.0
        boundaries: 139832.0
        boundaries: 149729.0
        boundaries: 158575.0
        boundaries: 164802.0
        boundaries: 168699.0
        boundaries: 171548.0
        boundaries: 175491.0
        boundaries: 186453.0
        boundaries: 204330.0
        boundaries: 223093.0
        boundaries: 237099.0
        boundaries: 248335.0
        boundaries: 255119.0
        boundaries: 260089.0
        boundaries: 270067.0
        boundaries: 284199.0
        boundaries: 301255.0
        boundaries: 319478.0
        boundaries: 333213.0
        boundaries: 341384.0
        boundaries: 347986.0
        boundaries: 362389.0
        boundaries: 381178.0
        boundaries: 402719.0
        boundaries: 418767.0
        boundaries: 427729.0
        boundaries: 433882.0
        boundaries: 453120.0
        boundaries: 484959.0
        boundaries: 505554.0
        boundaries: 515083.0
        boundaries: 522366.0
        boundaries: 551332.0
        boundaries: 583343.0
        boundaries: 599588.0
        boundaries: 607440.0
        boundaries: 639291.0
        boundaries: 674354.0
        boundaries: 688777.0
        boundaries: 705041.0
        boundaries: 748657.0
        boundaries: 772540.0
        boundaries: 785193.0
        boundaries: 832828.0
        boundaries: 860601.0
        boundaries: 882304.0
        boundaries: 923908.0
        boundaries: 949769.0
        boundaries: 982755.0
        boundaries: 1026450.0
        boundaries: 1045020.0
        boundaries: 1101320.0
        boundaries: 1124050.0
        boundaries: 1179710.0
        boundaries: 1209560.0
        boundaries: 1268430.0
        boundaries: 1298660.0
        boundaries: 1366380.0
        boundaries: 1400490.0
        boundaries: 1462330.0
        boundaries: 1495640.0
        boundaries: 1549270.0
        boundaries: 1590570.0
        boundaries: 1641650.0
        boundaries: 1704660.0
        boundaries: 1747500.0
        boundaries: 1811510.0
        boundaries: 1875490.0
        boundaries: 1928940.0
        boundaries: 1993380.0
        boundaries: 2071630.0
        boundaries: 2151960.0
        boundaries: 2229780.0
        boundaries: 2301470.0
        boundaries: 2378700.0
        boundaries: 2457700.0
        boundaries: 2545970.0
      }
    }
  }
}
model_config {
  feature_groups {
    group_name: "wide"
    feature_names: "identity_id"
    feature_names: "item_id"
    feature_names: "day_h"
    group_type: WIDE
  }
  feature_groups {
    group_name: "deep"
    feature_names: "identity_id"
    feature_names: "item_id"
    feature_names: "day_h"
    group_type: DEEP
    sequence_groups {
      group_name: "valid_play_100_seq"
      feature_names: "item_id"
      feature_names: "valid_play_100_seq__item_id"
      feature_names: "valid_play_100_seq__ts"
    }
    sequence_groups {
      group_name: "full_play_100_seq"
      feature_names: "item_id"
      feature_names: "full_play_100_seq__item_id"
      feature_names: "full_play_100_seq__ts"
    }
    sequence_encoders {
      din_encoder {
        input: "valid_play_100_seq"
        attn_mlp {
          hidden_units: 1024
          hidden_units: 512
        }
      }
    }
    sequence_encoders {
      din_encoder {
        input: "full_play_100_seq"
        attn_mlp {
          hidden_units: 1024
          hidden_units: 512
        }
      }
    }
  }
  feature_groups {
    group_name: "fm"
    feature_names: "identity_id"
    feature_names: "item_id"
    feature_names: "day_h"
    group_type: DEEP
  }
  losses {
    binary_cross_entropy {
    }
  }
  metrics {
    auc {
    }
  }
  metrics {
    grouped_auc {
      grouping_key:  "identity_id"
    }
  }
  deepfm {
    deep {
      hidden_units: 1024
      hidden_units: 512
      hidden_units: 128
    }
    final {
      hidden_units: 1024
      hidden_units: 512
      hidden_units: 128
    }
    wide_embedding_dim: 128
  }
}
